<!DOCTYPE html>
<html lang="ru">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exif-js/2.3.0/exif.min.js"></script>
    <meta charset="UTF-8">
    <!-- <favicon href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"> -->
    <title>Средняя светимость</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>

    <div id="sidebar">
        <button id="toggle-sidebar" onclick="toggleSidebar()">⮜</button>
        <div id="hide-sidebar">
            <!-- <button onclick="selectFolder()">Выбрать папку</button> -->
            <div id="thumbnail-slider-container">
                <input type="range" id="thumbnail-size" min="50" max="250" value="200" onchange="updateThumbnailSize()">
            </div>
            <!--<div id="thumbnails-container">-->
                <!-- <button onclick="scrollThumbnails(-100)">↑</button> -->
                <div id="thumbnails"></div>
                <!-- <button onclick    ="scrollThumbnails(100)">↓</button> -->
            <!--</div>-->
        </div>
    

        <!-- <p id="luminance-output"></p> -->
        
    </div> 

    <div id="main-side">
        <!-- <div id="file-input-container">
            <input type="file" id="file-input" accept="image/*" onchange="loadImage()">
        </div> -->
        <div id="image-container">
            <div id="dropzone">
                <!-- <img id="image" src="{{ url_for('static', filename='placeholder.png') }}"> -->
                <p>Перетащите изображение</p>
            </div>
            <div id="canvas-container">
                <canvas id="canvas"></canvas>
            </div>
        </div>
        
        <div id="input-output">
            <div id="luminance-output">
                <p>Таблица светимости</p>
                <table id="luminance-table"></table>
            </div>
            <div id="control">
                <button id="calculate-luminance">Посчитать светимость</button> 
                <button id="add-vertical-line">Добавить вертикальную линию</button>
                <button id="add-horizontal-line">Добавить горизонтальную линию</button>
                <button id="remove-vertical-line">Удалить вертикальную линию</button>
                <button id="remove-horizontal-line">Удалить горизонтальную линию</button>
                <button id="save-button">Сохранить изображение</button>
            </div>  
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/services/api-service.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/services/image-service.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/models/image-processor.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/views/canvas-view.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/views/table-view.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/views/sidebar-view.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/app.js') }}"></script>
</body>
</html>